body {
    background: url(../baggrund.png) no-repeat fixed top;
}


#splach {
    max-width: none;
    width: 100%;
    height: 80vh;
    background-image: url(../splch_eksamen.png);
    background-size: cover;
    background-position: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

#splach .section_wrapper {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
    text-align: right;
}

#splach h1 {
    margin-top: 92px;
    margin-bottom: 0px;
    padding-right: 12px;
    color: #ffff;
}


/*----------------udpluk ------------------*/

#udpluk {
    background-color: #FFFFFF;
    margin-top: 40px;
}

#udpluk .overskrift_udpluk {
    text-align: center;
    padding-top: 5px;
    margin-top: 70px;
}

.image-container {
    display: flex;
}

.image-container figure {
    flex-grow: 1;
}

.image-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-bottom: 20px;
}

.image-container figure {
    flex-basis: 75%;
    flex-shrink: 0;
    scroll-snap-align: center;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 0px;
}

.image-container figcaption {
    font-size: 1.2rem;
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
}



/*-------knap-------*/
#udpluk .bottom {
    text-align: center;
}

.knap {
    text-align: center;
    padding-bottom: 35px;
}

.button {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    background-color: #2F3640;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    color: #FFFFFF;
}


.button a {
    color: rgb(255, 255, 255);
    font-size: 0.70rem;
}

.button a:hover {
    color: #eba31b;

}


/*-----------om mig, layout over cv siden -------------*/
#om_mig {
    background-color: #FFFFFF;
    margin-top: 200px;
    margin-bottom: 140px;
}


#om_mig h2 {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

#om_mig .col_left img {
    border-radius: 100%;
    width: 50%;
    margin-top: 7px;
}

#om_mig .col_left {
    text-align: center;
    background-color: #151b22;
}


@media only screen and (min-width: 600px) {



    header {
        height: 0;
    }


    #splach {
        height: 100vh;
    }

    #splach .section_wrapper {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
        text-align: center;
    }

    #splach h1 {
        margin-top: 35px;
        color: black;
    }

    #forside_pil {
        position: absolute;
        bottom: 2vw;
        left: 47vw;
        font-size: 3rem;
    }


    /*---------udpluk siden --------------*/
    .image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
    }

    .image-container figure {
        flex-grow: 0;
    }

    #udpluk img {
        width: 70%;
    }

    figure:hover {
        width: 92%;
    }


    /*-----------------om mig, layout over cv siden-------------*/

    #om_mig .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }

    #om_mig h2 {
        padding-top: 120px;
    }

}
