.section_wrapper {
    padding: 0px 12px;
}

h1,
h2,
p {
    margin-top: 0;
}




/*-------------baggrunds billede i toppen-------*/
#om_mig_splash {
    max-width: none;
    width: 100%;
    height: auto;
    background: url(../baggrund.webp) no-repeat fixed top;
}

#om_mig_splash .section_wrapper {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 200px;
    color: #eba31b;
}


/*----------- billede med mig og selve teksten-----*/
#om_mig_mig .section_wrapper {
    margin: 70px 0px;
}

#om_mig_mig .col_left {
    margin-bottom: 0px;
    text-align: center;
}

#om_mig_mig .col_left {
    margin-bottom: 20px;
    background-image: url(../baggrund.webp);
}

#om_mig_mig .col_left img {
    border-radius: 100%;
    width: 50%;
    margin-top: 7px;
}



#om_mig_tekst .section_wrapper {
    margin: 70px 0px;
}





@media only screen and (min-width: 600px) {

    #om_mig_splash {
        height: auto;
    }

    #om_mig_splash .section_wrapper {
        padding-bottom: 120px;
        padding-top: 120px;
    }

    /*----------- billede med mig og selve teksten-----*/

    #om_mig_mig .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }


    #om_mig_mig .col_left img {
        margin-top: 50px;
    }

    /*----------- om_mig_tekst-----*/

    #om_mig_tekst .section_wrapper {
        text-align: center;
    }

    #om_mig_tekst img {
        width: 60%;
    }

}
