body {
    background: url(../baggrund.webp);
}

h1 {
    text-transform: uppercase;
    color: #eba31b;
}

p {
    color: white;
}


#tak .section_wrapper {
    text-align: center;
    margin: 20px 10px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.knap_tak {
    text-align: center;
    padding-top: 35px;
}

.button_tak {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    background-color: #eba31b;
    text-align: center;

    color: #FFFFFF;
}


.button_tak a {
    color: rgb(255, 255, 255);
    font-size: 0.70rem;
    text-transform: uppercase;
}

.button_tak a:hover {

    color: #2F3640;

}

@media only screen and (min-width: 600px) {


    #tak .section_wrapper {
        margin: 150px 120px;
        margin-top: 270px;
        background-color: #2F3640;

    }


}
