.section_wrapper {
    padding: 0px 12px;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}


/*-------------baggrunds billede i toppen-------*/
#spil_splash {
    max-width: none;
    width: 100%;
    height: auto;
    background: url(../baggrund.png) no-repeat fixed top;
}

#spil_splash .section_wrapper {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 200px;
    color: #eba31b;
}


/*-----------------spil_overskrift--------------*/
#spil_overskrift .section_wrapper {
    text-align: center;
    margin: 70px 0px;
}

/*-----------------spil_first-------------*/
#spil_first .section_wrapper {
    margin: 70px 0px;
}


/*-----------------spil_second--------------*/
#spil_second .section_wrapper {
    margin: 70px 0px;
}



/*-----------------spil_third--------------*/

#spil_third .section_wrapper h4 {
    font-weight: normal;
    margin-top: 70px;

}

#spil_third a {
    text-decoration: underline;
    font-weight: 900;
}



/*-----------------spil_fourth--------------*/
#spil_fourth .section_wrapper {
    margin-top: 70px;
    margin-bottom: 140px;
    text-align: center;
}






@media only screen and (min-width: 600px) {
    #spil_splash {
        height: auto;
    }

    #spil_splash .section_wrapper {
        padding-bottom: 120px;
        padding-top: 120px;
    }


    /*-----------------spil_first-------------*/
    #spil_first .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    /*-----------------spil_second-------------*/
    #spil_second .section_wrapper {
        padding-left: 100px;
        padding-right: 100px;
    }

    /*-----------------spil_third-------------*/
    #spil_third .section_wrapper {
        padding-left: 100px;
        padding-right: 100px;
    }

    /*-----------------spil_fourth--------------*/

    #spil_fourth .section_wrapper img {
        width: 70%;
    }



}
