.section_wrapper {
    padding: 0px 12px;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

p {
    margin: 0;
}


h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

/*-------------baggrunds billede i toppen-------*/
#asset_splash {
    max-width: none;
    width: 100%;
    height: auto;
    background: url(../baggrund.png) no-repeat fixed top;
}

#asset_splash .section_wrapper {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 200px;
    color: #eba31b;
}



/*-----------------asset_overskrift--------------*/
#asset_overskrift .section_wrapper {
    text-align: center;
    margin: 70px 0px;
}

/*--------figur_element_first------*/
#figur_element_first .section_wrapper {
    margin: 70px 0px;
}



/*--------figur_element_second------*/
#figur_element_second .section_wrapper {
    margin: 70px 0px;
}


#figur_element_second .col_right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

#figur_element_second .col_right img {
    height: 100%;
}

#figur_element_second .col_right .image1 {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

#figur_element_second .col_right .image2 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#figur_element_second .col_right .image3 {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#figur_element_second .col_right .image4 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#figur_element_second .col_right .image5 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
}




/*--------figur_element_third------*/
#figur_element_third .section_wrapper {
    margin: 70px 0px;
}


#figur_element_third .row_bottom {
    display: flex;
}


#figur_element_third .row_bottom {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#figur_element_third .row_bottom .image {
    flex-grow: 1;
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
    margin-left: 10px;
    margin-right: 10px;
}



/*--------baggrundsdesign------*/
#baggrundsdesign .section_wrapper {
    margin: 70px 0px;
}

#baggrundsdesign .col_right {
    display: flex;
}


#baggrundsdesign .col_right {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#baggrundsdesign .col_right .image {
    flex-grow: 1;
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
    margin-left: 10px;
    margin-right: 10px;
}



/*--------UI_first------*/
#UI_first .section_wrapper {
    margin: 70px 0px;
}


/*--------UI_second------*/
#UI_second .section_wrapper {
    margin: 70px 0px;
}

#UI_second .col_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .2fr;
    grid-gap: 20px;
}

#UI_second .col_right .image1 {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#figur_element_second .image2 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

#figur_element_second .image3 {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}



/*--------UI_third------*/

#UI_third .section_wrapper {
    margin-bottom: 140px;
    margin-top: 70px;
}















@media only screen and (min-width: 600px) {

    #asset_splash {
        height: auto;
    }

    #asset_splash .section_wrapper {
        padding-bottom: 120px;
        padding-top: 120px;
    }


    /*--------figur_element_first------*/
    #figur_element_first {
        margin-bottom: 150px;
    }

    #figur_element_first .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }



    /*--------figur_element_second------*/

    #figur_element_second {
        margin-bottom: 150px;
    }

    #figur_element_second .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }





    /*--------figur_element_third------*/

    #figur_element_third {
        margin-bottom: 150px;
    }

    #figur_element_third .section_wrapper {
        display: grid;
        grid-template-rows: .7fr 1fr;
        grid-gap: 20px;
    }

    #figur_element_third .row_bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    #figur_element_third .row_bottom .image {
        flex-grow: 0;
        padding-right: 0px;
        margin-left: 0px;
    }



    /*--------baggrundsdesign------*/
    #baggrundsdesign {
        margin-bottom: 150px;
    }

    #baggrundsdesign {
        margin-top: 80px;
    }

    #baggrundsdesign .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    #baggrundsdesign .col_right {
        display: grid;
        grid-template-columns: .5fr .5fr;
        grid-template-rows: .2fr .2fr;
        grid-gap: 10px;
    }

    #baggrundsdesign .col_right .image {
        flex-grow: 0;
        padding-right: 0px;
        margin-left: 0px;
    }


    /*--------UI_first------*/

    #UI_first {
        margin-bottom: 150px;
    }

    #UI_first .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }


    /*--------UI_second------*/
    #UI_second .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }



}
