.section_wrapper {
    padding: 0px 12px;
}

#redesign_first h3 {
    padding: 0px 12px;
}

#redesign_define h3 {
    padding: 0px 12px;
}


#redesign_develop_first h3 {
    padding: 0px 12px;
}


p {
    margin-top: 0;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}


h3,
h1,
p {
    margin: 0;
}

#redesign_second h4 {
    margin: 0;
}


h1 {
    font-size: 1.5rem;
}

/*-------------baggrunds billede i toppen-------*/
#redesign_splash {
    max-width: none;
    width: 100%;
    height: auto;
    background: url(../baggrund.webp) no-repeat fixed top;
}

#redesign_splash .section_wrapper {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 200px;
    color: #eba31b;
}


#redesign_third .section_wrapper {
    margin-bottom: 140px;
}



/*-----------------redesign_overskift--------------*/
#redesign_overskrift .section_wrapper {
    text-align: center;
    margin: 70px 0px;
}

/*----------redesign_first---------*/
#redesign_first .section_wrapper {
    margin: 70px 0px;
}

#redesign_first .section_wrapper .col_left h4 {
    margin-top: 0;
    margin-bottom: 40px;
}

/*----------redesign_second---------*/
#redesign_second .section_wrapper {
    margin: 70px 0px;
}

#redesign_second .row_top {
    margin-bottom: 20px;
}

#redesign_second .col_left {
    margin-bottom: 20px;
}

#redesign_second .col_mellem {
    margin-bottom: 20px;
}

#redesign_second .row_mellem {
    margin-bottom: 40px;
}




/*----------redesign_sitemap---------*/
#redesign_sitemap .section_wrapper {
    margin: 70px 0px;
}

#redesign_sitemap .row_bottom {
    margin-top: 20px;
    display: flex;
}

#redesign_sitemap .row_bottom {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#redesign_sitemap .row_bottom .image {
    flex-grow: 1;
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#redesign_sitemap .row_bottom img {
    border: 1px solid;
    width: 90%;
}




/*----------redesign_define---------*/
#redesign_define .section_wrapper {
    margin-top: 20px;
    margin-bottom: 70px;
}

#redesign_define .col_left {
    margin-bottom: 20px;
}


/*----------redesign_develop_first---------*/
#redesign_develop_first .section_wrapper {
    margin-top: 20px;
    margin-bottom: 70px;
}


#redesign_develop_first .col_right {
    margin-top: 20px;
    display: flex;
}

#redesign_develop_first .col_right {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#redesign_develop_first .col_right .image {
    flex-grow: 1;
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


/*----------redesign_develop---------*/
#redesign_develop .section_wrapper {
    margin-top: 20px;
    margin-bottom: 70px;
}


#redesign_develop .col_right {
    margin-top: 20px;
    display: flex;
}

#redesign_develop .col_right {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#redesign_develop .col_right .image {
    flex-grow: 1;
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
    margin-left: 10px;
    margin-right: 10px;
}



/*----------redesign_deliver---------*/
#redesign_deliver .section_wrapper {
    margin: 70px 0px;
}

#redesign_deliver .section_wrapper p {
    margin-top: 20px;
}



/*----------redesign_third---------*/
#redesign_third .section_wrapper h4 {
    font-weight: normal;
}

#redesign_third a {
    text-decoration: underline;
    font-weight: 900;
}






@media only screen and (min-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    #redesign_splash {
        height: auto;
    }

    #redesign_splash .section_wrapper {
        padding-bottom: 120px;
        padding-top: 120px;
    }


    /*----------redesign_first---------*/
    #redesign_first .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }


    /*----------redesign_sitemap---------*/
    #redesign_sitemap .section_wrapper {
        display: grid;
        grid-template-rows: .1fr 1fr;
        grid-row-gap: 20px;
    }

    #redesign_sitemap .row_top {
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }

    #redesign_sitemap .row_bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        text-align: center;

    }


    #redesign_sitemap .row_bottom .image {
        flex-grow: 0;
        padding-right: 0px;
        margin-left: 0px;
    }


    /*----------redesign_define---------*/

    #redesign_define {
        margin-top: 110px;
        margin-bottom: 110px;
    }

    #redesign_define .section_wrapper {
        display: grid;
        grid-template-columns: .7fr 1fr;
        grid-column-gap: 20px;
    }


    #redesign_define .col_right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }



    /*----------redesign_develop_first---------*/
    #redesign_develop_first .section_wrapper {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-column-gap: 20px;
    }


    #redesign_develop_first .col_right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        margin-top: 0;
    }

    #redesign_develop_first .col_right .image {
        flex-grow: 0;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }



    /*----------redesign_develop---------*/
    #redesign_develop .section_wrapper {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-column-gap: 20px;
    }


    #redesign_develop .col_right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        margin-top: 0;
    }

    #redesign_develop .col_right .image {
        flex-grow: 0;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }


    /*----------redesign_deliver---------*/
    #redesign_deliver .section_wrapper {
        margin-top: 110px;
        margin-bottom: 110px;
    }



    /*----------redesign_second---------*/
    #redesign_second .section_wrapper {
        display: grid;
        grid-template-rows: .5fr 2fr 2fr;
    }

    #redesign_second .row_mellem {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        margin-bottom: 40px;
    }

    #redesign_second .row_bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
}
